__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
venv/
.venv/
*.egg-info/
.eggs/
dist/
build/
.elasticbeanstalk/
.git/
.gitignore
.mypy_cache/
.hypothesis/
.pytest_cache/
.tox/
.coverage
.coverage.*
htmlcov/
.vscode/
.idea/
.ipynb_checkpoints/
logs/
artifact/
.CLS
